<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; background-color: violet;">Списо задач:</h1>

    {% for task in tasks %}
        <h3>Название задача: {{task.title}}</h3>
        <h4>Описание задачи: {{task.description}}</h4>
        <hr>
    {% endfor %}

    <h1>Пользователи</h1>
    {% for user in users %}
        {{ user.id }}
        {{ user.first_name }}
        {{ user.last_name }}
    {% endfor %}

    <form id="taskForm" method="post">
        <label for="title">Загаловок:</label>
        <input type="text" id="title" name="title">
        <label for="descriptin">Описание:</label>
        <input type="text" id="descriptin" name="descriptin">
        <button id="btn">Кнопка</button>
    </form>





    
    
    
    
    <script>
        let taskForm = document.getElementById('btn');
        taskForm.addEventListener('sumbit', function(event){
            event.preventDefault();
            let title = document.getElementById('title');
            let description = document.getElementById('description');
            const data = {"title": title, "descriptin":description};

            console.log(data)
        fetch('http://127.0.0.1:8000/task_list/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(responce => responce.json())
    })
    </script>
</body>
</html>